<div class="page-content">
  <div class="flex items-center sm:object-cover hero-container h-[390px] w-full">
    <image
      class="visible sm:hidden w-full"
      src="{{ '2021-FlatLay-113_1-mobile.png' | file_img_url: '390x595' }}"
    />
    <image
    class="invisible sm:visible w-full"
    src="{{ '2021-FlatLay-113_1.png' | file_img_url: '1401x364' }}"
  />
  </div>
  <div class="flex flex-col sm:flex-row sm:space-x-[500px] justify-center items-center wrapper h-[260px] sm:h-[150px] mt-[100px] sm:mt-[30px] sm:mb-[30px] top-8">
    <p class="text-4xl font-black">BENEFITS</p>
    <p class="px-[5px] text-center sm:text-left w-[300px] sm:w-[500px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  {% section 'affiliate-carousel' %}

  <div class="flex flex-col sm:flex-row sm:justify-start sm:h-[600px] w-full">
  <div class="flex bg-cover image-2 top-0 h-[215px] sm:h-[692px]">
    <image
      class="visible sm:invisible"
      src="{{ 'Rectangle_93-mobile.png' | file_img_url: '390x215' }}"
    />
    <image
    class="invisible sm:visible"
    src="{{ 'Rectangle_93.png' | file_img_url: '607x692' }}"
  />
  </div>

</div>
  <div class="flex flex-col justify-center items-left wrapper h-[250px] w-full sm:w-[400px] mt-[20px] px-7">
    <p class="text-4xl font-black mb-5">SIGN UP TODAY!</p>
    <p class="px-[5px] w-[300px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="flex flex-col sm:w-[400px] justify-start items-left wrapper h-[800px] mt-[10px] px-7">
    <form class="w-full max-w-sm sm:w-[500px]">
      <p class="w-[20rem] pt-5">FIRST NAME</p>
      <div class="flex items-center border-b border-gray-500 py-2 w-[223px] h-[80px]">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
          type="text"
          placeholder="Jane Doe"
          aria-label="Full name"
        >
      </div>
      <p class="w-[20rem] pt-5">LAST NAME</p>
      <div class="flex items-center border-b border-gray-500 py-2 w-[223px] h-[80px]">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
          type="text"
          placeholder="Jane Doe"
          aria-label="Full name"
        >
      </div>
      <p class="w-[20rem] pt-5">E-MAIL ADDRESS</p>
      <div class="flex items-center border-b border-gray-500 py-2 h-[80px]">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
          type="text"
          placeholder="Jane Doe"
          aria-label="Full name"
        >
      </div>
      <p class="w-[20rem] pt-5">PASSWORD</p>
      <div class="flex items-center border-b border-gray-500 py-2 h-[80px]">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
          type="text"
          placeholder="Jane Doe"
          aria-label="Full name"
        >
      </div>
      <p class="w-[20rem] pt-5">CONFIRM PASSWORD</p>
      <div class="flex items-center border-b border-gray-500 py-2 h-[80px]">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 leading-tight focus:outline-none"
          type="text"
          placeholder="Jane Doe"
          aria-label="Full name"
        >
      </div>
      <button
        class="w-[331px] h-[57px] mt-8 flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-xl border-4 text-white py-1 px-2 visible sm:invisible"
        type="button"
      >
        JOIN NOW
      </button>
      <button
      class="w-[331px] h-[57px] mt-8 flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-xl border-4 text-white py-1 px-2 invisible sm:visible"
      type="button"
    >
      JOIN
    </button>
    </form>
  </div>
</div>
</div>
