<div class="page-content w-screen">
  <div class="flex justify-center md:items-center relative h-[32rem] md:min-h-fit">
    <image
      class="md:hidden absolute w-full h-full object-cover object-bottom"
      src="{{ '2021-FlatLay-113_1-mobile.png' | file_img_url: '400x' }}"
    />
    <image
      class="z-0 absolute hidden md:block w-full h-full object-cover object-bottom" 
      src="{{ '2021-FlatLay-113_1.png' | file_img_url: 'x400' }}"
    />
    <div class="mt-12 md:mt-0 flex flex-col items-center relative z-10 px-2">
      <h1 class="text-3xl md:text-4xl xl:text-5xl tracking-wide font-black text-center md:text-neutral-800">JOIN OUR AFFILIATE<br class="md:hidden" />&nbsp;PROGRAM</h1>
      <p class="xl:text-xl text-center font-medium max-w-xs md:max-w-md xl:max-w-lg mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="mt-7 py-3 md:py-4 px-20 md:px-24 text-xl font-black text-white bg-downy-300 text-center" href="/">JOIN NOW</a>
    </div>
  </div>
  <div class="sm:w-11/12 max-w-screen-xl sm:mx-auto flex flex-col sm:flex-row sm:justify-between items-center my-12 xl:my-16 px-6">
    <p class="text-4xl font-black sm:text-neutral-800">BENEFITS</p>
    <p class="mt-4 text-center sm:text-left max-w-xs md:max-w-md">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  {% section 'affiliate-carousel' %}

  <div class="flex flex-col sm:flex-row sm:justify-start sm:h-[700px] w-full">
  <div class="flex image-2 top-0 mb-9 self-left">
    <image
      class="flex sm:hidden object-none"
      src="{{ 'Rectangle_93-mobile.png' | file_img_url: '390x215' }}"
    />
    <image
    class="hidden sm:flex w-[607px] h-[692px] object-none"
    src="{{ 'Rectangle_93.png' | file_img_url: '607x692' }}"
  />
  </div>

<div class="sm:flex sm:flex-col">
  <div class="flex flex-col justify-start items-left wrapper h-[150px] w-full mb-5 sm:w-[400px] mt-[10px] sm:mt-0 sm:ml-7 sm:px-[0px] px-7">
    <p class="text-4xl font-black mb-5">SIGN UP TODAY!</p>
    <p class="w-[300px] sm:w-[350px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
        <div class="flex flex-col w-full sm:w-[600px] justify-start items-center wrapper h-[600px] px-7">
          <form class="w-full pr-4 sm:p-0">
                <div class="sm:flex sm:flex-row">
                  <div class="sm:flex sm:flex-col">
                    <p class="w-[20rem] pt-[25px] text-xs text-black">FIRST NAME</p>
                    <div class="flex items-center border-b border-gray-500 py-2 w-[223px] h-[40px] sm:h-[50px]">
                      <input
                      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 sm:translate-y-1 leading-tight focus:outline-none text-sm"
                      type="text"
                      placeholder="Enter your first name"
                      aria-label="Full name"
                      >
                    </div>
                  </div>
                  <div class="sm:flex sm:flex-col">
                    <p class="w-[20rem] pt-[25px] text-xs text-black">LAST NAME</p>
                    <div class="flex items-center border-b border-gray-500 py-2 w-[223px] h-[40px] sm:h-[50px]">
                      <input
                      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 sm:translate-y-1 leading-tight focus:outline-none text-sm"
                      type="text"
                      placeholder="Enter your last name"
                      aria-label="Full name"
                      >
                    </div>
                  </div>
                </div>
                <p class="w-[20rem] pt-[25px] text-xs text-black">E-MAIL ADDRESS</p>
                <div class="flex items-center border-b border-gray-500 py-2 h-[40px] sm:h-[50px]">
                  <input
                  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 sm:translate-y-1 leading-tight focus:outline-none text-sm"
                  type="text"
                  placeholder="Enter your email address"
                  aria-label="Full name"
                  >
                </div>
                <p class="w-[20rem] pt-[25px] text-xs text-black">PASSWORD</p>
                <div class="flex items-center border-b border-gray-500 py-2 h-[40px] sm:h-[50px]">
                  <input
                  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 sm:translate-y-1 leading-tight focus:outline-none text-sm"
                  type="text"
                  placeholder="Enter a password"
                  aria-label="Full name"
                  >
                </div>
                <p class="w-[20rem] pt-[25px] text-xs text-black">CONFIRM PASSWORD</p>
                <div class="flex items-center border-b border-gray-500 py-2 h-[40px] sm:h-[50px]">
                  <input
                  class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 sm:translate-y-1 leading-tight focus:outline-none text-sm"
                  type="text"
                  placeholder="Confirm your password"
                  aria-label="Full name"
                  >
                </div>
                <button
                class="w-[320px] h-[57px] mt-[50px] tracking-wide self-center items-center justify-center flex-shrink-0 bg-downy-300 hover:bg-downy-500 text-xl text-white py-1 px-2 flex sm:hidden"
                type="button" 
                >
                JOIN NOW
              </button>
              <button
              class="w-[300px] h-[57px] mt-[90px] tracking-wide self-left items-center justify-center flex-shrink-0 bg-downy-300 hover:bg-downy-500 text-xl text-white py-1 px-2 hidden sm:flex"
              type="button"
              >
              JOIN
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[130px] w-full hidden sm:flex"></div>
</div>
