<div class="flex flex-col items-center">
  <div class="bg-whiteLinen-50 flex flex-col justify-center items-center px-8 py-10 mb-8 h-[285px] w-full">
    <h1 class="font-avenir font-black text-3xl">
      {{ page.title | upcase }}
    </h1>
    <p class="font-avenir flex max-w-sm text-center mt-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="tracking-wide font-avenir max-w-4xl px-8 font-medium text-md [&_p]:mb-4 ">
    {{ page.content }}
  </div>
</div>
h
