<div class="flex flex-col">
  <div class="bg-neutral-50 flex flex-col items-center px-8 py-10">
    <h1 class="font-black text-3xl">{{ page.title }}</h1>
    <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ipsum, sed ad officiis, possimus aliquam excepturi beatae fugiat repudiandae molestiae id expedita sint reprehenderit in tenetur minus minima ut. Cumque!</p>
  </div>

  <div id="test" class="px-8 font-medium [&_p]:mb-3">
    {{ page.content }}
  </div>
</div>