<div class="page-content">
    
    <div class="hero-container h-[300px] width-full bg-black">
        <image class="">
        </div>
        <div class="flex flex-col items-center wrapper bg-blue-50">
            <p class="mt-16 text-3xl font-black">BENEFITS</p>
            <p class="mt-5 px-[18px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
        </div>
        
        {% section 'affiliate-carousel' %}

</div>
