<div class="container">
  <div class="card">
    {% unless shop.password_message == blank %}
    <div class="card-header">
      <h5>{{ shop.password_message }}</h5>
    </div>
    {% endunless %}
    <div class="card-body">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="form-group">
        <label for="password">Enter store using password:</label>
        <input class="form-control" type="password" name="password" id="password" autofocus="" />
        <input class="btn btn-primary form-control mt-3" name="commit" type="submit" value="Enter" />
      </div>
      {% endform %}
    </div>
  </div>
</div>
