<div id="affiliate-form" class="flex flex-col lg:flex-row lg:items-end 2xl:justify-center mt-16 mb-24">
  <image
    class="w-full lg:w-auto h-56 lg:h-[38rem] object-cover"
    src="{{ 'Rectangle_93.png' | file_img_url: '1024x' }}"
  />
  <div class="flex flex-col w-full max-w-sm md:max-w-md lg:max-w-xl mx-auto lg:mx-0 lg:ml-20 px-6 mt-8">
    <p class="lg:hidden text-4xl font-black text-neutral-800">
      SIGN UP TODAY!
    </p>
    <p class="hidden lg:block text-4xl font-black text-neutral-800">
      SIGN UP TO GET STARTED
    </p>
    <p class="mt-4 lg:mt-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <form class="w-full flex flex-col mt-6 lg:mt-8">
      <div class="flex flex-col lg:flex-row">
        <div class="w-2/3 lg:w-1/2 lg:mr-4">
          <p class="text-xs">FIRST NAME</p>
          <input
            class="border-b border-gray-500 w-full text-gray-700 pr-3 py-3 leading-tight focus:outline-none text-sm"
            type="text"
            placeholder="Enter your first name"
            aria-label="First name"
          >
        </div>
        <div class="w-2/3 lg:w-1/2">
          <p class="mt-6 lg:mt-0 text-xs">LAST NAME</p>
          <input
            class="border-b border-gray-500 w-full text-gray-700 pr-3 py-3 leading-tight focus:outline-none text-sm"
            type="text"
            placeholder="Enter your last name"
            aria-label="Last name"
          >
        </div>
      </div>
      <p class="mt-6 text-xs">E-MAIL ADDRESS</p>
      <input
        class="border-b border-gray-500 w-full text-gray-700 pr-3 py-3 leading-tight focus:outline-none text-sm"
        type="text"
        placeholder="Enter your email address"
        aria-label="email address"
      >
      <p class="mt-6 text-xs">PASSWORD</p>
      <input
        class="border-b border-gray-500 w-full text-gray-700 pr-3 py-3 leading-tight focus:outline-none text-sm"
        type="password"
        placeholder="Enter a password"
        aria-label="password"
      >
      <p class="mt-6 text-xs">CONFIRM PASSWORD</p>
      <input
        class="border-b border-gray-500 w-full text-gray-700 pr-3 py-3 leading-tight focus:outline-none text-sm"
        type="password"
        placeholder="Confirm your password"
        aria-label="confirm password"
      >
      <button
        class="w-full lg:w-1/2 mt-10 lg:mt-16 tracking-wide bg-downy-300 hover:bg-downy-400 text-xl font-black text-white py-3"
        type="button"
      >
        JOIN<span class="lg:hidden">&nbsp;NOW</span>
      </button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Affiliate Form"
}
{% endschema %}
