<div id="affiliate-form">
  <iframe src="https://af.uppromote.com/ubuntu-made/register"></iframe>
  <script src="//d1639lhkj5l89m.cloudfront.net/js/verifylogin.js"></script>
</div>

{% schema %}
  {
    "name": "Affiliate Form"
  }
{% endschema %}