<div class="flex flex-col md:grid grid-cols-2 xl:grid-cols-3 items-center">
  <img class="xl:col-span-2 w-full h-36 md:h-full xl:h-[calc(100vh-92px)] object-cover" src="{{ section.settings.header_img | image_url: width: 1536 }}" alt="Hero photo">
  <div class="flex flex-col px-6 md:px-10 max-w-sm md:max-w-none xl:max-w-xl mx-auto">
    <h1 class="mt-8 font-black text-neutral-800 text-3xl xl:text-4xl">GET IN TOUCH</h1>
    <p class="mt-3 xl:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    {% form 'contact' %}
    <div class="flex flex-col">
      {{ form.errors | default_errors }}
      <div class="xl:flex justify-between">
        <div class="mt-6 flex flex-col xl:w-1/2 xl:mr-4">
          <label class="text-xs font-medium" for="first-name">FIRST NAME</label>
          <input class="py-2 placeholder:text-neutral-600 placeholder:text-xs border-b border-black" type="text" name="contact[first_name]" id="first-name" placeholder="Enter your first name">
        </div>
        <div class="mt-6 flex flex-col xl:w-1/2 xl:ml-4">
          <label class="text-xs font-medium" for="last-name">LAST NAME</label>
          <input class="py-2 placeholder:text-neutral-600 placeholder:text-xs border-b border-black" type="text" name="contact[last_name]" id="last-name" placeholder="Enter your last name">
        </div>
      </div>
      <div class="mt-6 flex flex-col">
        <label class="text-xs font-medium" for="email">E-MAIL ADDRESS</label>
        <input class="py-2 placeholder:text-neutral-600 placeholder:text-xs border-b border-black" type="email" name="contact[email]" id="email" placeholder="Enter your e-mail address">
      </div>
      <div class="mt-6 flex flex-col">
        <label class="text-xs font-medium" for="topic">HOW CAN WE HELP?</label>
        <div class="relative mt-2">
          <select class="appearance-none border border-black p-3 bg-white w-full" name="contact[topic]" id="topic">
            <option value="wholesale">Wholesale</option>
            <option value="marketing">Marketing</option>
            <option value="orders">Orders</option>
            <option value="returns">Returns</option>
            <option value="other">Other</option>
          </select>
          <svg class="w-8 h-8 p-2 absolute right-2 top-1/2 -translate-y-1/2  bg-downy-300 rounded-full pointer-events-none" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8894 0.188938L7.99929 6.90537L1.10916 0.188938C0.986054 0.0686954 0.820797 0.00137848 0.648713 0.00137848C0.476628 0.00137848 0.311372 0.0686954 0.188268 0.188938C0.128661 0.247341 0.0813067 0.317049 0.0489791 0.393983C0.0166514 0.470916 0 0.553527 0 0.636976C0 0.720426 0.0166514 0.803036 0.0489791 0.879969C0.0813067 0.956902 0.128661 1.02661 0.188268 1.08501L7.51817 8.23157C7.64689 8.35704 7.81954 8.42726 7.99929 8.42726C8.17905 8.42726 8.3517 8.35704 8.48042 8.23157L15.8103 1.08639C15.8703 1.02795 15.9181 0.958067 15.9506 0.880878C15.9832 0.80369 16 0.720758 16 0.636976C16 0.553195 15.9832 0.470262 15.9506 0.393074C15.9181 0.315885 15.8703 0.246006 15.8103 0.187559C15.6872 0.0673163 15.522 0 15.3499 0C15.1778 0 15.0125 0.0673163 14.8894 0.187559V0.188938Z" fill="white"/>
          </svg>
        </div>
      </div>
      <div class="mt-6 flex flex-col">
        <label class="text-xs font-medium" for="message">MESSAGE</label>
        <input class="py-2 placeholder:text-neutral-600 placeholder:text-xs border-b border-black" type="text" name="contact[body]" id="message" placeholder="Enter your message">
      </div>
      <button class="pt-4 pb-3 font-bold text-white text-xl mt-5 bg-downy-300" type="submit">SUBMIT</button>
    </div>
    {% endform %}
  </div>
</div>

<div class="flex flex-col md:flex-row md:justify-evenly px-6 mt-8 md:my-12 max-w-sm md:max-w-none mx-auto">
  <div class="flex flex-col md:order-3">
    <p>EMAIL US</p>
    <a class="text-downy-300 text-sm underline" href="mailto:hello@ubuntu.life">hello@ubuntu.life</a>
  </div>
  <h2 class="md:hidden mt-6 text-neutral-700 text-2xl font-bold">OUR HEADQUARTERS</h2>
  <div class="mt-6 md:mt-0 pl-6 border-l border-downy-300 flex flex-col">
    <p class="text-xl font-bold text-neutral-700">USA HEADQUARTERS</p>
    <p class="mt-2">307 W Live Oak St</p>
    <p>Austin, TX 78704, USA</p>
  </div>
  <div class="mt-6 md:mt-0 pl-6 border-l border-downy-300 flex flex-col">
    <p class="text-xl font-bold text-neutral-700">KENYA HEADQUARTERS</p>
    <p class="mt-2">Old Naivasha Road</p>
    <p>Maai Mahiu, Kenya</p>
  </div>
</div>

{% schema %}
{
  "name": "About content",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_img",
      "label": "Header image"
    }
  ]
}
{% endschema %}