<style media="screen">
  #promo-bar {
    background-color: {{ section.settings.bg-color }};
    color: {{ section.settings.text-color }};
  }
</style>

<div id="promo-bar">
  <h5 class="text-center">{{ section.settings.text }}</h5>
</div>


{% schema %}
  {
    "name": "Promo Bar",
    "settings": [
      {
        "id": "text",
        "type": "text",
        "label": "Text",
        "default": "Promo Bar"
      },
      {
        "id": "bg-color",
        "type": "color",
        "label": "Background Color",
        "default": "#007bff"
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text Color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
