<section id="affiliate-carousel" class="mt-14 h-[500px]">
  <div class="swiper w-screen overflow-hidden">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide w-[280px] h-[280px] sm:w-[280px] sm:h-[280px] relative bg-gray-50 hover:bg-downy-300">
          <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
            <p class="font-black text-center text-xl w-44">
              {{ block.settings.title_copy }}
            </p>
            <p class="font-black text-center text-lg w-44">
              {{ block.settings.card_copy }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div
      class="swiper-pagination [&>*]:w-5 [&>*]:h-5 [&>*]:bg-downy-300 [&>*]:opacity-25 [&>*.swiper-pagination-bullet-active]:opacity-100"
    ></div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroSwiper = new Swiper("#affiliate-carousel .swiper", {
      slidesOffsetBefore: 22,
      spaceBetween: 25,
      slidesPerView: 'auto',
      loop: true,
      loopedSlides: 4,
      pagination: {
        el: "# affiliate-carousel .swiper-pagination",
        type: "bullets",
        clickable: true
      }
    });
  });
</script>

{% schema %}
{
  "name": "Affiliate Carousel",
  "settings": [],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "title_copy",
          "label": "Title copy"
        },
        {
          "type": "text",
          "id": "card_copy",
          "label": "Card copy"
        }
      ]
    }
  ]
}
{% endschema %}
