<section id="affiliate-carousel" class="h-[375px]">
  <div class="swiper w-screen overflow-hidden">
    <div class="swiper-wrapper mr-5">
      {% for block in section.blocks %}
        <div
          id="{{ block.id }}"
          class="swiper-slide w-[280px] h-[280px] sm:w-[280px] sm:h-[280px] relative bg-gray-50 sm:hover:bg-downy-300 transition-all duration-1000"
        >
          <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
            <p class="font-black text-center text-xl w-44">
              {{ block.settings.title_copy }}
            </p>
            <p class="font-black text-center text-lg w-44">
              {{ block.settings.card_copy }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div
      class="swiper-pagination [&>*]:w-5 [&>*]:h-5 [&>*]:bg-downy-300 [&>*]:opacity-25 [&>*.swiper-pagination-bullet-active]:opacity-100"
    ></div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const affSwiper = new Swiper("#affiliate-carousel .swiper", {
      updateOnWindowResize: true,
      slidesOffsetBefore: 15,
      slidesOffsetAfter: 15,
      centeredSlides: false,
      spaceBetween: 25,
      slidesPerView: 'auto',
      slideToClickedSlide: true,
      speed: 700,
      on: {
        afterInit: function (affSwiper) {
            document.getElementById(affSwiper.slides[0].id).classList.remove("bg-gray-50");
            document.getElementById(affSwiper.slides[0].id).classList.add("bg-downy-300");
        },

        sliderFirstMove: function () {
          const clickedSlide = affSwiper.clickedIndex
          document.getElementById(affSwiper.slides[0].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[0].id).classList.add("bg-gray-50");

        },
        sliderMove: function () {
          const clickedSlide = affSwiper.clickedIndex
          document.getElementById(affSwiper.slides[0].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[0].id).classList.add("bg-gray-50");
          document.getElementById(affSwiper.slides[1].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[1].id).classList.add("bg-gray-50");
          document.getElementById(affSwiper.slides[2].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[2].id).classList.add("bg-gray-50");
          document.getElementById(affSwiper.slides[3].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[3].id).classList.add("bg-gray-50");
        },
        realIndexChange: function () {
          const currentSlide = affSwiper.activeIndex;
          const previousSlide = affSwiper.previousIndex;

          console.log('prev', previousSlide, 'curr', currentSlide);
          // document.getElementById(affSwiper.slides[1].id).classList.remove("bg-downy-300");
          // document.getElementById(affSwiper.slides[1].id).classList.add("bg-gray-50");
          // document.getElementById(affSwiper.slides[2].id).classList.remove("bg-downy-300");
          // document.getElementById(affSwiper.slides[2].id).classList.add("bg-gray-50");
          document.getElementById(affSwiper.slides[previousSlide].id).classList.remove("bg-downy-300");
          document.getElementById(affSwiper.slides[previousSlide].id).classList.add("bg-gray-50");
          document.getElementById(affSwiper.slides[currentSlide].id).classList.remove("bg-gray-50");
          document.getElementById(affSwiper.slides[currentSlide].id).classList.add("bg-downy-300");
        },
          },
      breakpoints: {
        390: {
          updateOnWindowResize: true,
          slidesPerGroup: 1,
          slidesOffsetBefore: 5,
          centeredSlides: true,
          centeredSlideBounds: true,
          spaceBetween: 30,
          },
          640: {
            updateOnWindowResize: true,
            slideToClickedSlide: true,
            spaceBetween: 20,
            slideToClickedSlide: true,
          },
          768: {
            updateOnWindowResize: true,
            slidesOffsetBefore: 50,
            centeredSlides: false,
            spaceBetween: 40,
            slideToClickedSlide: true,
          },
          1024: {
            updateOnWindowResize: true,
            slidesOffsetBefore: 0,
            centeredSlides: false,
            centerInsufficientSlides: true,
            spaceBetween: 50,
          },
          1300: {
            updateOnWindowResize: true,
            slidesOffsetBefore: 0,
            centeredSlides: false,
            centerInsufficientSlides: true,
          },
        },

    });
  });
</script>

{% schema %}
{
  "name": "Affiliate Carousel",
  "settings": [],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "title_copy",
          "label": "Title copy"
        },
        {
          "type": "text",
          "id": "card_copy",
          "label": "Card copy"
        }
      ]
    }
  ]
}
{% endschema %}
