{% section 'faq-header' %}

<div class="swiper w-screen overflow-hidden px-10 mt-20">
  <div class="swiper-wrapper">
    <div
      id="orders"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-5 px-6 flex flex-col justify-center items-center bg-white border border-downy-300 hover:border hover:bg-white hover:border-downy-300 transition-all duration-300"
    >
      <img
        class="w-9 h-9 mb-5"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
      >
      <p class="font-medium text-neutral-800 text-lg">
        ORDERS
      </p>
    </div>

    {%- comment -%} <div
      id="fitting-care"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-5 px-6 flex flex-col justify-center items-center bg-orange-50 hover:border hover:bg-white hover:border-downy-300 transition-all duration-300"
    >
      <img
        class="w-9 h-9 mb-5"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/measurement-icon.svg?v=1659639509"
      >
      <p class="font-medium text-neutral-800 text-lg">
        FITTING & CARE
      </p>
    </div> {%- endcomment -%}
    <div
      id="shipping-returns"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-5 px-6 flex flex-col justify-center items-center bg-orange-50 hover:border hover:bg-white hover:border-downy-300 transition-all duration-300"
    >
      <img
        class="w-9 h-9 mb-5"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/shipping-icon.svg?v=1659639509"
      >
      <p class="font-medium text-neutral-800 text-lg">
        SHIPPING & RETURNS
      </p>
    </div>
    <div
      id="international"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-5 px-6 flex flex-col justify-center items-center bg-orange-50 hover:border hover:bg-white hover:border-downy-300 transition-all duration-300"
    >
      <img
        class="w-9 h-9 mb-5"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/international-icon.svg?v=1659639509"
      >
      <p class="font-medium text-neutral-800 text-lg">
        INTERNATIONAL
      </p>
    </div>
    {%- comment -%} <div
      id="about-products"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-5 px-6 flex flex-col justify-center items-center bg-orange-50 hover:border hover:bg-white hover:border-downy-300 transition-all duration-300"
    >
      <img
        class="w-9 h-9 mb-5"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/about-icon.svg?v=1660040970"
      >
      <p class="font-medium text-neutral-800 text-lg">
        ABOUT PRODUCTS
      </p>
    </div> {%- endcomment -%}
  </div> 
</div>


<section id="faq-about" class="bg-white flex flex-col sm:flex-row mb-32 px-5 max-w-screen-xl mx-auto">
  {% section 'faq-accordion' %}
  <div class="flex flex-col text-lg sm:mx-8 lg:mx-24 pt-10">
    {% section 'faq-contact' %}
  </div>
</section>

<style>
  .accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
  }
</style>
 
<script>
  let previousSelection = "";
  let selection = "";

  // unhide first accordion
  document.getElementById("orders-acc").classList.remove('hidden')

  function hideAccordions() {
    previousSelection = "";
    const collection = document.getElementsByClassName("acc-wrapper");
    for (let i = 0; i < collection.length; i++) {
      collection[i].classList.remove('hidden');
      collection[i].classList.add('hidden');
    }
  }

  function updateChoice(id) {
    previousSelection = selection;
    selection = "";
    selection = id;
    hideAccordions();
    document.getElementById(selection + "-acc").classList.remove('hidden');
  }

  document.addEventListener("DOMContentLoaded", () => {
    const faqSwiper = new Swiper(".swiper", {
      threshold: 8,
      preventCLicks: false,
      updateOnWindowResize: true,
      slidesOffsetBefore: 15,
      slidesOffsetAfter: 15,
      centeredSlides: true,
      spaceBetween: 25,
      slidesPerView: 'auto',
      slideToClickedSlide: true,
      speed: 700,
      on: {
        tap: function () {
          const clickedSlide = faqSwiper.clickedIndex;
          const swiperCollection = document.getElementsByClassName("swiper-slide");
            for (let i = 0; i < swiperCollection.length; i++) {
              swiperCollection[i].classList.remove("bg-white", "border", "border-downy-300");
              swiperCollection[i].classList.add("bg-orange-50");
            }

          document.getElementById(faqSwiper.slides[clickedSlide].id).classList.remove("bg-orange-50");
          document.getElementById(faqSwiper.slides[clickedSlide].id).classList.add("bg-white", "border", "border-downy-300");
        },
        slideChange: function () {
          const previousSlide = faqSwiper.previousIndex;
          const activeSlide = faqSwiper.realIndex;
          currentId = document.getElementById(faqSwiper.slides[activeSlide].id).id;
          document.getElementById(faqSwiper.slides[previousSlide].id).classList.remove("bg-white", "border", "border-downy-300");
          document.getElementById(faqSwiper.slides[previousSlide].id).classList.add("bg-orange-50");
          document.getElementById(faqSwiper.slides[activeSlide].id).classList.remove("bg-orange-50");
          document.getElementById(faqSwiper.slides[activeSlide].id).classList.add("bg-white", "border", "border-downy-300");
          updateChoice(currentId)
        },
        
    
      },
      breakpoints: {
        390: {
          slidesPerGroup: 1,
          slidesOffsetBefore: 0,
          slidesOffsetAfter: 0,
          centeredSlides: true,
          spaceBetween: 30,
        },
        640: {
          slidesOffsetBefore: 0,
            centeredSlides: false,
          spaceBetween: 20,
        },
        768: {
          slidesOffsetBefore: 0,
          centeredSlides: false,
          spaceBetween: 40,
        },
        1024: {
          slidesOffsetBefore: 0,
          centeredSlides: false,
          centerInsufficientSlides: true,
          spaceBetween: 50,
        },
      }
    });
    updateChoice('orders');
  });
</script>