<header class="faq-header w-screen" role="banner">
  <div class="flex justify-center md:items-center relative h-[32rem] md:min-h-fit">
    <image
      class="z-0 absolute hidden md:block w-full h-full object-cover object-bottom"
      src="{{ '2021-FlatLay-113_1.png' | file_img_url: 'x400' }}"
    />
    <div class="mt-12 md:mt-0 flex flex-col items-center relative z-10 px-2">
      <h1 class="text-3xl md:text-4xl xl:text-5xl tracking-wide font-black text-center md:text-neutral-800">
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <p class="xl:text-xl text-center font-medium max-w-xs md:max-w-md xl:max-w-lg mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</header>
