<header class="faq-header w-screen mb-20" role="banner">
  <div class="wrapper relative h-[300px] flex flex-row justify-center md:items-center">
    <div class="w-full hover:translate-x-full hover:opacity-100 duration-500 ease-in-out bg-neutral-50">
      <image
        class="hidden sm:flex -translate-x-full opacity-0 hover:opacity-100 duration-500 ease-in-out w-full h-full object-cover"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/2021-Lifestyle-480_1.png?v=1659647294"
      />
    </div>

    <div class="pointer-events-none mt-12 md:mt-0 flex flex-col items-center absolute z-10 px-2">
      <h1 class="disabled text-3xl md:text-4xl xl:text-5xl tracking-wide font-black text-center md:text-neutral-800">
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <p class="disabled xl:text-xl text-center font-medium max-w-xs md:max-w-md xl:max-w-lg mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</header>

{% section 'faq-carousel' %}
<div class="h-[500px] w-full bg-white"></div>
