<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>

<div id="faq-page">
<header class="faq-header w-screen mb-20" role="banner">
  <div class="wrapper relative h-[300px] flex flex-row justify-center md:items-center">
    <div class="w-full sm:hover:translate-x-full hover:opacity-100 duration-500 ease-in-out bg-neutral-50">
      <image
        class="hidden sm:flex -translate-x-full opacity-0 hover:opacity-100 duration-500 ease-in-out w-full h-full object-cover"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/2021-Lifestyle-480_1.png?v=1659647294"
      />
    </div>

    <div class="pointer-events-none mt-12 md:mt-0 flex flex-col items-center absolute z-10 px-2">
      <h1 class="disabled text-3xl md:text-4xl xl:text-5xl tracking-wide font-black text-center md:text-neutral-800">
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <p class="disabled xl:text-xl text-center font-medium max-w-xs md:max-w-md xl:max-w-lg mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</header>
<div id="faq-swiper">
  <div class="swiper w-screen overflow-hidden px-10" ref="carousel">
    <div class="swiper-wrapper mr-5">
      <div
          id="orders"
          onclick="updateChoice(this.id)"
          class="swiper-slide w-60 h-40 py-14 px-6 bg-white border border-solid border-downy-300 hover:border hover:border-solid hover:bg-white sm:hover:border-downy-300 hover:border-downy-300 transition-all duration-300">
              <image
                class="w-10 h-10"
                src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
              >
              </image>
          <div class=" flex flex-col justify-start items-left">
            <p class="font-black text-neutral-800 text-xl md:text-2xl">
              ORDERS
            </p>
          </div>
        </div>

      <div
        id="fitting-care"
        onclick="updateChoice(this.id)"
        class="swiper-slide w-60 h-40 py-14 px-6 bg-gray-50 hover:border hover:border-solid hover:bg-white sm:hover:border-downy-300 hover:border-downy-300 transition-all duration-300">
            <image
              class="w-10 h-10"
              src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
            >
            </image>
        <div class=" flex flex-col justify-start items-left">
          <p class="font-black text-neutral-800 text-xl md:text-2xl">
            FITTING & CARE
          </p>
        </div>
      </div>

    <div
      id="shipping-returns"
      onclick="updateChoice(this.id)"
      class="swiper-slide w-60 h-40 py-14 px-6 bg-gray-50 hover:border hover:border-solid hover:bg-white sm:hover:border-downy-300 hover:border-downy-300 transition-all duration-300">
          <image
            class="w-10 h-10"
            src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
          >
          </image>
      <div class=" flex flex-col justify-start items-left">
        <p class="font-black text-neutral-800 text-xl md:text-2xl">
          SHIPPING & RETURNS
        </p>
      </div>
    </div>

  <div
    id="international"
    onclick="updateChoice(this.id)"
    class="swiper-slide w-60 h-40 py-14 px-6 bg-gray-50 hover:border hover:border-solid hover:bg-white sm:hover:border-downy-300 hover:border-downy-300 transition-all duration-300">
        <image
          class="w-10 h-10"
          src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
        >
        </image>
    <div class=" flex flex-col justify-start items-left">
      <p class="font-black text-neutral-800 text-xl md:text-2xl">
        INTERNATIONAL ORDERS
      </p>
    </div>
  </div>

  <div
  id="about-products"
  onclick="updateChoice(this.id)"
  class="swiper-slide w-60 h-40 py-14 px-6 bg-gray-50 hover:border hover:border-solid hover:bg-white sm:hover:border-downy-300 hover:border-downy-300 transition-all duration-300">
      <image
        class="w-10 h-10"
        src="https://cdn.shopify.com/s/files/1/1257/5497/files/order-icon.svg?v=1659639509"
      >
      </image>
  <div class=" flex flex-col justify-start items-left">
    <p class="font-black text-neutral-800 text-xl md:text-2xl">
      ABOUT PRODUCTS
    </p>
  </div>
</div>

    </div>
  </div>
  </div>
  <div id="fitting-care-acc" class="acc-wrapper hidden">
    {% section 'faq-fitting-accordion' %}
  </div>
  
  <div id="shipping-returns-acc" class="acc-wrapper hidden">
    {% section 'faq-shipping-accordion' %}
  </div>
  
  <div id="international-acc" class="acc-wrapper hidden">
    {% section 'faq-international-accordion' %}
  </div>
  
  <div id="about-products-acc" class="acc-wrapper hidden">
    {% section 'faq-about-accordion' %}
  </div>

  <div class="flex flex-col-reverse justify-start sm:flex-row-reverse sm:justify-end sm:ml-20 h-full">
  <div class="flex flex-col self-right sm:w-screen sm:px-10 sm:mt-36 h-full m-0 mr-0 divide-y divide-solid divide-black px-7">
    <p class="text-lg font-bold w-80 h-10 flex self-left mb-5">CALL US</p>
    <div class="flex flex-col">
      <p class="text-lg w-80 h-20 flex self-left py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="text-lg text-downy-500 w-80 h-20 flex self-left py-5">XXX-XXX-XXXX</p>
      <p class="text-lg font-bold w-80 h-10 flex self-left mt-8 mb-5">E-MAIL</p>
    </div>
    
    <div class="flex flex-col">
      <p class="text-lg w-80 h-20 flex self-left py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="text-lg text-downy-500 w-80 h-20 flex self-left pt-5 pb-2">help@ubuntu.com</p>
      <p class="text-lg font-bold w-80 h-10 flex self-left mt-8 mb-5">FIND US</p>
    </div>
    
    <div class="flex flex-col">
      <p class="text-lg w-80 h-20 flex self-left py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="https://www.google.com">
        <p class="text-lg text-downy-500 w-80 h-20 flex self-left pt-5 pb-2">Find the Closest Boutique</p>
      </a>
    </div>
  </div>

  <div id="orders-acc" class="acc-wrapper hidden">
    {% section 'faq-orders-accordion' %}
  </div>
  



    
  </div>
  
  
  
  
  <div class="h-[500px] w-full bg-white"></div>
</div>
</div>

<style>
  .accordion-content {
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  }
</style>

<script>


  window.onload = (event) => {
    updateChoice('orders');
};

let previousSelection = "";
  let selection = "";
  
  const hideAccordions = () => {
    previousSelection = "";
    const collection = document.getElementsByClassName("acc-wrapper");
      for (let i = 0; i < collection.length; i++) {
        collection[i].style.backgroundColor = "red";
        collection[i].classList.remove('hidden');
        collection[i].classList.add('hidden');
      }
  }

  const updateChoice = (id) => {
    previousSelection = selection;
    selection = "";
    console.log('~~~~~', id)
    selection = id;
    hideAccordions();
    document.getElementById(selection + "-acc").classList.remove('hidden');
  
  }


const faqSwiper = new Swiper(".swiper", {
            threshold: 8,
            preventCLicks: false,
            updateOnWindowResize: true,
            slidesOffsetBefore: 15,
            slidesOffsetAfter: 15,
            centeredSlides: true,
            spaceBetween: 25,
            slidesPerView: 'auto',
            slideToClickedSlide: true,
            speed: 700,
            on: {
              tap: function () {
                const currentSlide = faqSwiper.clickedIndex;
                const previousSlide = faqSwiper.previousIndex;
                const swiperCollection = document.getElementsByClassName("swiper-slide");

                faqSwiper.slideTo(currentSlide);


                  for (let i = 0; i < swiperCollection.length; i++) {
                    swiperCollection[i].classList.remove("bg-white", "border", "border-solid", "border-downy-300");
                    swiperCollection[i].classList.add("bg-gray-50");
                  }

                document.getElementById(faqSwiper.slides[currentSlide].id).classList.remove("bg-gray-50");
                document.getElementById(faqSwiper.slides[currentSlide].id).classList.add("bg-white", "border", "border-solid", "border-downy-300");
              },
              slideChange: function () {
                updateChoice(selection);
              },
          
            },
            breakpoints: {
              390: {
                slidesPerGroup: 1,
                slidesOffsetBefore: 0,
                slidesOffsetAfter: 0,
                centeredSlides: true,
                spaceBetween: 30,
              },
              640: {
                slidesOffsetBefore: 0,
                  centeredSlides: false,
                spaceBetween: 20,
              },
              768: {
                slidesOffsetBefore: 0,
                centeredSlides: false,
                spaceBetween: 40,
              },
              1024: {
                slidesOffsetBefore: 0,
                centeredSlides: false,
                centerInsufficientSlides: true,
                spaceBetween: 50,
              },
            }
          });

  </script>